.container { 
	display: flex;
	height: 100%;
	background-color: #000;
 }
 h2.intro{
 	margin-top: 6%;
 	font-size: 5em;
 	text-transform: uppercase;
 	width: 35%;
 	line-height: 0.87em;
 	text-align: left;
 	color:#fff;
 }

 h2{color: }

 p {color: #fff;}